.why-choose {
    background-color: #F4F7FD;
    padding-top     : 100px;
}

.why-choose-title {
    font-size    : 40px;
    color        : #050861;
    margin-bottom: 20px;
    line-height  : 40px;
}

.why-choose-text {
    font-family  : "Roboto", sans-serif;
    font-size    : 18px;
    color        : #05086199;
    margin-bottom: 20px;
}

.why-choose-cards-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}