.subjects-section {
    padding         : 100px 0;
    background-color: #F9F4DA;
    background-color: #faf3dd;
    overflow        : hidden;
}


.subjects-title {
    font-size  : min(50px, 9vw);
    line-height: 40px;


    font-weight: 700;
    color      : #0F0D0E;
    text-align : center;

    word-spacing  : 1px;
    letter-spacing: 0.5px;
}




.subjects-box {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    flex-wrap      : wrap;
}

/* Responsive */

@media screen and (max-width:700px) {


    .subjects-box {
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin         : 0 auto;
    }
}

@media screen and (max-width:400px) {
    .subjects-section {
        padding-top: 20px;
    }

    .subjects-title {
        line-height: 35px;
    }



}