.sub-card {
    width        : 100%;
    max-width    : 318px;
    height       : auto;
    margin-top   : 80px;
    padding      : 20px;
    transition   : 0.5s all;
    cursor       : pointer;
    border-radius: 12px;

    border-top   : 2px solid #020202;
    border-right : 8px solid #020202;
    border-bottom: 8px solid #020202;
    border-left  : 2px solid #020202;


}

.sub-card:hover {
    transform: scale(1.03);

}






.sub-img {
    width        : 50px;
    height       : 50px;
    margin-bottom: 5px;
}

.sub-title {
    font-weight: 700;
    font-size  : 25px;

    color         : #231F20;
    margin-bottom : 3px;
    text-transform: uppercase;
}

.sub-subtitle {
    font-family  : "Roboto", sans-serif;
    font-size    : 16px;
    line-height  : 24px;
    font-weight  : 400;
    color        : #231F20;
    margin-bottom: 20px;

}


/* %%%%%%%%%%%%%%%%%%%%% */
.cssbuttons-io-button {
    background    : #F9F4DA;
    color         : #020202;
    font-family   : inherit;
    padding       : 0.35em;
    padding-left  : 1.2em;
    font-size     : 17px;
    font-weight   : 500;
    border-radius : 0.4em;
    border        : none;
    letter-spacing: 0.05em;
    display       : flex;
    align-items   : center;

    overflow     : hidden;
    position     : relative;
    height       : 2.8em;
    padding-right: 3.3em;
    cursor       : pointer;
}

.cssbuttons-io-button .icon {
    background     : #FCBA28;
    margin-left    : 1em;
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 2.2em;
    width          : 2.2em;
    border-radius  : 0.4em;

    right     : 0.3em;
    transition: all 0.3s;
}

.sub-card:hover .cssbuttons-io-button .icon {
    width        : calc(100% - 0.6em);
    border-radius: 0.4em;
}

.cssbuttons-io-button .icon svg {
    width     : 1.3em;
    transition: transform 0.3s;
    color     : #020202;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

@media screen and (max-width:400px) {
    .sub-card {

        margin-top: 30px;
    }

}