.sub-card {
    width     : 100%;
    max-width : 318px;
    margin-top: 80px;
    padding   : 24px;

    cursor       : pointer;
    border-radius: 12px;
    box-shadow   : rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &.bgGradient1 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 167, 255, 0.450) 100%);
    }

    &.bgGradient2 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 255, 64, 0.450) 100%);
    }

    &.bgGradient3 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(100, 43, 255, 0.450) 100%);
    }

    &.bgGradient4 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 255, 191, 0.450) 100%);
    }

    &.bgGradient5 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(98, 43, 255, 0.450) 100%);
    }

    &.bgGradient6 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 255, 191, 0.450) 100%);
    }

    &.bgGradient7 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 255, 64, 0.450) 100%);
    }

    &.bgGradient8 {
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(43, 166, 255, 0.450) 100%);
    }
}

.sub-card:hover {
    transform : scale(1.03);
    transition: 0.3s all;
}

.sub-card:hover .sub-btn {
    background-color: #1C4CF7;
    color           : #fff;
    transform       : scale();
    transition      : 0.3s all;

}




.sub-img {
    width        : 80px;
    height       : 80px;
    margin-bottom: 24px;
}

.sub-title {
    font-size    : 29px;
    line-height  : 40px;
    color        : #050861;
    margin-bottom: 8px;
}

.sub-subtitle {
    font-family  : "Roboto", sans-serif;
    font-size    : 16px;
    line-height  : 24px;
    font-weight  : 400;
    color        : #05086199;
    margin-bottom: 84px;

}

.sub-btn {
    display         : block;
    background-color: #fff;
    padding         : 12px 24px;
    text-align      : center;
    width           : 100%;
    color           : #1C4CF7;
    border-radius   : 8px;
}