.header {
    padding : 30px 0;
    position: sticky;
    top     : 0;
    z-index : 1;

}

.header-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.header-inwrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    max-width      : 600px;


}

.header-logo {
    color      : #4433FF;
    font-size  : 30px;
    font-weight: 600;
    line-height: 24px;
    font-family: "Kanit";
}

.header-nav {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    max-width      : 300px;
    font-family    : "Open Sans", sans-serif;
    font-weight    : 600;
}

.header-btn {
    background: transparent;
    border    : none;
    cursor    : pointer;
    opacity   : 0.7;
    transition: 0.3s all;
}

.header-btn:hover {
    opacity  : 1;
    transform: scale(1.03);
}

.header-btn:active {
    transform: scale(0.97);
}

.lightmode {
    width : 30px;
    height: auto;

}

.darkmode {
    width : 30px;
    height: auto;
}

.none {
    display: none;
}


.header-contact:hover {

    background-color: #1B82FB;
    border          : 3px solid #fff;
    color           : #fff;

}

.header-contact:active {

    transform: scale(0.97);
}