.header {
    margin-bottom: 60px;
    padding      : 20px 0 16px 0;

}

.header-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-bottom  : 1px solid #F0F0F033;
    padding-bottom : 20px;
}

.header-inwrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    max-width      : 700px;


}

.header-logo {
    color      : #fff;
    font-size  : 24px;
    font-weight: 700;
    line-height: 24px;

}

.header-nav {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    max-width      : 500px;
    font-family    : "Roboto", sans-serif;
    font-weight    : 400;
}

.header-social-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    max-width      : 200px;
}

.header-social__link:first-child {
    padding         : 8px 13px;
    border-radius   : 10px;
    background-color: #4478E1;

}

.header-social__link:nth-child(2) {
    padding         : 8px;
    border-radius   : 10px;
    background-color: #4478E1;

}

.header-social__link:nth-child(3) {
    padding         : 11px 8px;
    border-radius   : 10px;
    background-color: #4478E1;

}

.header-social__link:last-child {
    padding         : 10px 10px 10px 6px;
    border-radius   : 10px;
    background-color: #4478E1;

}