.results-section {
    background-color: #0D0F12;

    border: 30px solid transparent;

}



.results-title {
    font-weight   : 700;
    font-size     : 55px;
    line-height   : 40px;
    margin-bottom : 100px;
    color         : #E3E6E8;
    word-spacing  : 1px;
    letter-spacing: 0.5px;

}

@media screen and (max-width: 900px) {
    .results-title {
        font-size : 40px;
        margin-top: 20px;
    }
}







/* *************************** */


.carousel-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: center;

}


.embla {
    overflow: hidden;



}


.embla__container {
    display: flex;


}

.embla__slide {
    flex     : 0 0 55%;
    min-width: 0;
    cursor   : pointer;



}

.slider-button-wrapper {

    display        : flex;
    justify-content: space-between;
}

.prev-button {


    border          : none;
    background-color: transparent;

    cursor: pointer;
}

.next-button {

    border          : none;
    background-color: transparent;

    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 900px) {




    .embla__slide {
        flex       : 0 0 100%;
        display    : grid;
        place-items: center;
    }
}

@media screen and (max-width: 700px) {
    .embla__slide {
        flex: 0 0 0 100%;

    }
}

@media screen and (max-width: 400px) {
    .results-title {
        font-size    : 30px;
        margin-bottom: 30px;
    }
}