.results-section {
    background-color: #0D0F12;

    border: 30px solid transparent;

}



.results-title {
    font-weight   : 700;
    font-size     : 55px;
    line-height   : 40px;
    margin-bottom : 100px;
    color         : #E3E6E8;
    word-spacing  : 1px;
    letter-spacing: 0.5px;

}







/* *************************** */


.carousel-wrapper {
    display    : flex;
    align-items: center;

}


.embla {
    overflow: hidden;



}


.embla__container {
    display: flex;


}

.embla__slide {
    flex     : 0 0 55%;
    min-width: 0;
    cursor   : pointer;



}

.slider-button-wrapper {

    display        : flex;
    justify-content: space-between;
}

.prev-button {


    border          : none;
    background-color: transparent;

    cursor: pointer;
}

.next-button {

    border          : none;
    background-color: transparent;

    cursor: pointer;
}