.hero-section {
    margin-top: 80px;

    padding: 0 20px;

    position: fixed;
    top     : 70px;
    left    : 400px;
    z-index : 0;


}



.hero-section__title {
    font-size     : 72px;
    color         : #3474AB;
    text-align    : center;
    text-transform: uppercase;
    width         : 100%;
    max-width     : 800px;
}

.cloud {
    width    : 100%;
    max-width: 300px;
    height   : auto;
    position : absolute;
    top      : -115px;
    left     : -300px;
}


.hero-text-title {
    display  : inline-block;
    color    : #0000FF;
    transform: rotateZ(5deg);


}

.hero-btn {
    display: inline-block;

    margin-bottom   : 50px;
    background-color: #FAFAFA;
    padding         : 15px;
    border-radius   : 8px;
    font-size       : 20px;
    color           : #0000FF;
    transition      : 0.3s all;
    border          : 3px solid transparent;
}

.hero-btn:hover {

    background-color: #1B82FB;
    border          : 3px solid #fff;
    color           : #fff;

}

.hero-btn:active {

    transform: scale(0.97);
}