.footer {
    padding-top     : 20px;
    padding-bottom  : 50px;
    background-color: #fff;
}

.footer-top-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
}

.footer-logo {
    font-weight: 700;
    font-size  : 36px;
    color      : #050861;

}

.footer-list {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 600px;

}

.footer-nav-link {
    color    : #050861;
    font-size: 20px;
}

.footer-top-end-wrapper {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.footer-tel {
    font-size: 36px;
    color    : #050861;
}

.footer-bottom-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    margin-top     : 60px;
}

.footer-social-link {
    font-weight     : 500;
    font-size       : 20px;
    color           : #050861;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 15px;
    background-color: #F2F2F2;
    border-radius   : 20px;
    width           : 100%;
    max-width       : 250px;

}